<h3 class="text-center">デジタルキャッシュ　デモ</h3>

<div style="margin: 50px;">
  <h4 class="text-center">タブの説明</h4>
  
  <h4>パラメータタブ</h4>
  <li>使用しているパラメータを表示</li>

  <h4>登録タブ</h4>
  <li>ユーザー名を入力することで、アカウントを登録できる。</li>
  <li>"ユーザー名"と表示されている入力欄に、ユーザー名を入力して、登録ボタンを押す。</li>
  <li>登録した後に、そのユーザーのIDが生成される。</li>

  <h4>送信タブ</h4>  
  <li><u style="color:Tomato;">[注意]</u> 送り手のウォレットに未使用コインがない場合、送信できない。まずコインを引き出す必要あり。(ウォレットタブの説明に、未使用コインの説明あり) </li>
  <li>送り手から受け手へコインを送信することができる。</li>
  <li>"送り手のID"と表示されている入力欄に、送り手のIDを入力。</li>
  <li>"受け手のID"と表示されている入力欄に、受け手のIDを入力。</li>
  <li>送信ボタンを押す。</li>
  
  <h4>引き出しタブ</h4>
  <li>"コインを引き出すID"と表示されている入力欄に、コインを引き出したいIDを入力。</li>
  <li>引き出しボタンを押す。</li>
  <li>引き出し後に、引き出したアカントの"所持コイン数"が減る。</li>
  <li>引き出したアカウントのウォレットにコインデータが追加される。</li>

  <h4>預金タブ</h4>
  <li><u style="color:Tomato;">[注意]</u> 銀行に預金できるコインは、使用済みコインのみ(ウォレットタブの説明に、使用済みコインの説明あり) </li>
  <li>"コインを預けるID"と表示されている入力欄に、銀行にコインを預けたいアカウントのIDを入力。</li>
  <li>預けるボタンを押す。</li>
  <li>預けたあとに、ウォレットから今預けたコインを所持していたアカウントのコインが１つ減る。</li>

  <h4>ダブルスペンドタブ</h4>
  <li>"送り手のID"と表示されている入力欄に、送り手のIDを入力。</li>
  <li>"受け手1のID"と表示されている入力欄に、一人目の受け手のIDを入力。</li>
  <li>"受け手2のID"と表示されている入力欄に、二人目の受け手のIDを入力。</li>  
  <li>ダブルスペンドボタンを押す。</li>
  <li>ダブルスペンド後に、受け手1と受け手2のウォレットにコインデータが追加される。</li>

  <h4>アカウントタブ</h4>
  <li>銀行に登録されているアカウントの一覧が表示される</li>

  <h4>ウォレットタブ</h4>
  <li>登録されているアカントのウォレット(コインを格納)を表示</li>
  <li>ウォレット内のコインは<u> (int,int,int,int,int,int) | (int,int,int,int,int) | (int,int,int) or None</u>、のような形をしている。<br>
    　 ３つ目のデータが(int,int,int)の場合、使用済みコインを表し、Noneの場合、未使用コインを表す。
  </li>
  
  <h4>使用済みコインタブ</h4>
  <li>コインを銀行に預金した後に、そのコインは使用済みコインとしてデータベースに保存される。</li>
  <li>ダブルスペンドを検出するために保存されている。</li>
  
</div>

<div style="margin-bottom: 100px; text-align: center;">
<h4 class="text-center">以下のPDF内に理論的な説明あり</h4>
<embed src="/static/pdf/theory.pdf" width="80%" height="600" type="application/pdf">
</div>
